.chat-main
	.main-header
		.main-header__left-box
			.main-header__left-box__currrent-group
				グループ
			.main-header__left-box__member-list
				メンバー :
				.main-header__left-box__member-list__member
					とくめい
		.main-header__edit-btn
			Edit
	.messages
		.message
			.message__upper-info
				
				.message__upper-info__talker
					グループ
				.message__upper-info__date
					2019/11/09(Sat) 01:33:40
			.message__text
				テキスト
	.form
		.form.new_message
			.input-box
				%input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}/
				%label{class: "input-box__image"}
					%i.fa.fa-image
						%input#file_button{type: "file"}/
			%input.submit-btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
