.chat-side
	.side-header
		.side-header__box
			%p.side-header__box__user-name
				名前
			%ul.side-header__box__menu
				%li.side-header__box__menu__new-group
					=link_to "#", class: "fas fa-edit" do
						= fa_icon 'edit'
				%li.side-header__box__menu__edit-user
	.groups
		.group
			.group__group-name
				グループ名
			.group__latest-message
				まだメッセージがありません